{% extends "template.html" %}
{% block content %}

<div class="container">
    <div class="row m-2">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            {% for crumb in breadcrumbs %}
                {% if not loop.last %}
                <li class="breadcrumb-item">
                    <a href="{{ url_for('articles')}}{% for i in range(loop.index) %}{{ breadcrumbs[i] }}/{% endfor %}">
                    {{ crumb }}
                    </a>
                </li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ crumb }}</li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="row  m-2">
    <div class="col-sm-10">


      {% for file in files %}
      <div class="row m-2">
        <div class="col">
          <div class="shadow-sm p-2 bg-white rounded">
            <a href="{{ url_for('articles')}}{{ file['url_helper'] }}" class="text-decoration-none">
              <h4>{{ file["title_cap"] }} - <small class="text-muted">{{ file["date"] }}</small></h4>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="col-sm-2">
        <strong>Filters</strong>
      <dl class="row">
        <dt class="col-sm-5">Years</dt>
        <dd class="col-sm-7">
          <p>2019</p>
          <p>2018</p>
          <p>2017</p>
        </dd>
        <dt class="col-sm-5">Tags</dt>
        <dd class="col-sm-7">
          <p>Tech</p>
          <p>Bikes</p>
          <p>Crap</p>
        </dd> 
      </dl>       
    </div>    
  </div>


  <div class="row  m-2">
    <div class="col" id="disqus_thread">
    </div>
  </div>

</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

// var disqus_config = function () {
// this.page.url = "{{ url_for(request.endpoint) }}";  // Replace PAGE_URL with your page's canonical URL variable
// this.page.identifier = "{{ url_for(request.endpoint) }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
// };

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://nickjenkins.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
{% endblock %}