{% extends "template.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="shadow-sm p-1 bg-white rounded">
        <h2>Nick Jenkins</h2>
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-area-chart"></i>&nbsp;Data Scientist</li>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-exchange"></i>&nbsp;API & Web Dev</li>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-group"></i>&nbsp;Team Leader</li>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-commenting-o"></i>&nbsp;Writer</li>
          </div>
        </div>
        <p></p>
        <p><a href="{{ url_for('resume') }}" class="text-decoration-none">Resume</a></p>
        <p><a href="#" class="text-decoration-none" onclick="togglehide('contact')">Contact</a></p>

        <div id="contact" style="display: none">
          <div class="row">
            <div class="col-sm-6">
              <a href="https://api.whatsapp.com/send?phone=61448329110" alt="+61 448 329 110">Whatsapp / Phone</a>
            </div>
            <div class="col-sm-6">
              <a href="mailto:nick_jenkins@outlook.com" alt="nick_jenkins@outlook.com">Email</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a href="https://www.linkedin.com/in/nick-jenkins-56a65533" target="_blank" alt="https://www.linkedin.com/in/nick-jenkins-56a65533">Linked-in</a>
            </div>
            <div class="col-sm-6">
              <a href="https://www.nickjenkins.com.au" target="_blank" alt="https://www.nickjenkins.com.au">Personal Website</a>
            </div>
          </div>
        </div>
        <p></p>

        <p><a href="{{ url_for('articles') + 'professional' }}" class="text-decoration-none">Professional Writing</a></p>
        <p><a href="{{ url_for('articles') + 'personal' }}" class="text-decoration-none">Personal Writing</a></p>  
        <h6>Article tags:</h6>
        {% for tag in tags %}
          <a href="{{ url_for('articles', tags=tag[0])}}">
            <span class="badge badge-pill badge-info">{{ tag[0] }}<span class="badge badge-pill badge-info">({{ tag[1] }})</span>
            </span>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-8">
      <div id="carouselExampleSlidesOnly" class="carousel slide modal-body" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_1.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_2.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_3.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_4.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_5.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_6.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item active">
              <img src="{{ url_for('static', filename='img/carousel_7.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/carousel_8.jpeg') }}" class="d-block w-100 imagefade" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>


{% endblock %}