{% extends "template.html" %}
{% block content %}

<div class="container">
  <!-- Breadcrumb header -->
  <div class="noprint">
    <div class="row my-2">
      <div class="col-sm-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Resume</li>
          </ol>
        </nav>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-outline-primary" role="button" onclick="document.title='Nick Jenkins Resume - Data Scientist - +1 917 815 7709';window.print();">Print</button>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-4">
      <div class="shadow-sm p-2 bg-white rounded">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{url_for('static', filename='img/nickjenkins.jpg')}}" class="img-fluid rounded-circle" alt="Nick Jenkins">
          </div>
          <div class="col-sm-8">
            <h2>Nick Jenkins</h2>
            <small class="text-muted">
              I help organizations generate value from data.
            </small>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-area-chart"></i>&nbsp;Data Scientist</li>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-exchange"></i>&nbsp;Software Engineer</li>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-group"></i>&nbsp;Team Leader</li>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-commenting-o"></i>&nbsp;Technical Writer</li>
          </div>
        </div>
        <p></p>
        <div class="row">
          <div class="col-sm-6">
            <a href="tel:+19178157709" alt="+1 917 815 7709">Phone</a>
          </div>
          <div class="col-sm-6">
            <a href="mailto:nick_jenkins@outlook.com" alt="nick_jenkins@outlook.com">Email</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="https://www.linkedin.com/in/nick-jenkins-56a65533" target="_blank" alt="https://www.linkedin.com/in/nick-jenkins-56a65533">Linked-in</a>
          </div>
          <div class="col-sm-6">
            <a href="https://www.ndjenkins.com" target="_blank" alt="https://www.ndjenkins.com">Personal Website</a>
          </div>
        </div>
        <p></p>
        <dl class="row">
          <dt class="col-sm-2">Experience</dt>
          <dd class="col-sm-10">
            <p class="text-success">
              <strong>
                {{years_months("2015-09-01")}} Python
                <br>{{years_months("2014-06-01")}} Data Science
                <br>{{years_months("2011-02-01")}} Business Consulting
              </strong>
            </p>
          </dd>

          <dt class="col-sm-2">Tech Stack</dt>
          <dd class="col-sm-10">
              python, pandas, sklearn, tensorflow<br>
              airflow, docker, github, flask<br>
              sql, spark, postgres, aws
          </dd>
        </dl>


        <div class="row">
          <div class="col">
            <h4><small class="text-muted">Work Experience</small></h4>
            <i class="fa fa-group"></i>&nbsp;TikTok
            <p class="font-weight-light">
              Data Scientist - Trust and Safety (Transparency)<br>
              May 2022 - current<br>
              New York City, New York, USA<br>
              <a href="https://www.tiktok.com/transparency" target="_blank">
                https://www.tiktok.com/transparency
              </a>
            </p>

            <i class="fa fa-group"></i>&nbsp;The Boston Consulting Group
            <p class="font-weight-light">
              Senior Data Scientist<br>
              July 2019 - May 2022<br>
              New York City, New York, USA<br>
              <a href="https://www.bcg.com/" target="_blank">
                https://www.bcg.com/
              </a>
            </p>

            <i class="fa fa-group"></i>&nbsp;Evolve Research
            <p class="font-weight-light">
              Head of Data Science<br>
              February 2014 - April 2019 (5+ years)<br>
              Melbourne, Victoria, Australia<br>
              <a href="https://www.theevolvedgroup.com/" target="_blank">
                https://www.theevolvedgroup.com/
              </a>
            </p>

            <i class="fa fa-group"></i>&nbsp;The Klein Partnership
            <p class="font-weight-light">
              Research Associate<br>
              February 2011 - February 2014 (3 years)<br>
              Melbourne, Victoria, Australia<br>
              <a href="https://tkp.com.au/" target="_blank">
                https://tkp.com.au/
              </a>
            </p>

            <p class="font-weight-light">
              <i>
                References available upon request.
              </i>
            </p>

          </div>
        </div>


        <div class="row">
          <div class="col">
            <h4><small class="text-muted">Education</small></h4>
            <i class="fa fa-graduation-cap"></i>&nbsp;
            Masters of Computer Science (3.9 GPA)
            <p class="font-weight-light">
              Georgia Institute of Technology<br>
              Machine Learning Specialization<br>
              2016 - 2019
            </p>

            <i class="fa fa-graduation-cap"></i>&nbsp;
            Bachelor of Arts
            <p class="font-weight-light">
              The University of Melbourne<br>
              Psychology and Political Science Majors<br>
              2004 - 2009
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4><small class="text-muted">Portfolio</small></h4>
            <ul>
              <li>I'm proud of my <a href="https://github.com/ndjenkins85/ndj_cookie/" target="_blank">python project quick starter</a> for best practice.</li>

              <li>I built <a href="https://github.com/ndjenkins85/personalsite" target="_blank">my own website</a> including automated deployment.</li>

              <li>I write articles about <a href="https://www.ndjenkins.com/articles/professional" target="_blank">my career as a data scientist</a>, and <a href="https://www.ndjenkins.com/articles/personal" target="_blank">my hobbies</a>.</li>
            </ul>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <h4><small class="text-muted">Additional Certifications</small></h4>
            <ul>
              <li><a href="https://www.coursera.org/account/accomplishments/specialization/UETJ3ZYFPXSP" target="_blank">Deep Learning Specialization</a></li>
              <li><a href="https://courses.edx.org/certificates/21b020f447334662a56cc8e2a0ab483d" target="_blank">Amazon Sagemaker (edX)</a></li>
              <li><a href="https://s3.amazonaws.com/verify.edx.org/downloads/f2db5ba4c782412c9d452fd2a6f60b5a/Certificate.pdf" target="_blank">Big Data with Apache Spark (edX)</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/verify/T3AUWSKF4WN2" target="_blank">SQL for Data Science (Coursera)</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="shadow-sm p-2 bg-white rounded">
<p>
I am an Australian Data Scientist working for TikTok in New York. I work in the Trust and Safety pillar, focusing on Transparency reporting. We prepare material to support government requests, regulatory disclosure, media, and for the general public. Our aim is to demonstrate how we help the world safely discover, create and connect in order to build trust. I lead the data science effort to ensure reporting accuracy, repeatability, and new metric development.

<ol>
  <li>Experienced in scoping and managing projects, working with stakeholders, and leading data science teams.
  </li>
  <li>Deep technical knowledge in machine learning, data pipelines, deployment, and software engineering best practices.
  </li>
  <li>Passionate about good communication and explaining complex concepts. I enjoy presenting results to c-level audiences, and writing compelling, end-user focused documentation.
  </li>
</ol>
</p>

<p>
<strong>Previous work experience:</strong>
</p>

<p>
I joined <b>The Boston Consulting Group</b> in July 2019 as a Senior Data Scientist. I have worked on many projects with a variety of industries and techniques. My focus has been on pricing and personalization related projects in the marketing and services practice. In addition to client facing projects, I have also helped drive internal projects to assist teams with data science best practices and access to data products.
</p>

<p>
During my time at BCG, we have employed several analytic strategies to solve our client's business problems. I am frequently involved in managing data assets, creating configuration driven machine learning pipelines, and setting up and measuring experiments. Techniques include regression, classification, demand forecasting, segmentation, unstructured ML techniques (NLP).
</p>

<p>
In April 2019 I completed a <b>Masters of Computer Science from Georgia Tech</b>, majoring in Machine Learning. This degree improved my rigor in software development. Topics covered included; statistics, deep learning, AI, big data, database design, and algorithms.
</p>

<p>
At my previous employer based in Melbourne - <b>Evolve Research </b>- these skills helped solve data problems in the market research industry. I was the Head of Data Science for three years, with five years prior as a market research consultant. I led a team of junior analysts, graduates and software engineers to deliver analytical solutions to in-house consultants or direct to ongoing client relationships. Our section also included scope for R&D work to find opportunities to apply innovation in our industry.
</p>

<p>
During my time at Evolve, we created an innovative chatbot application to enhance respondent engagement. This project was selected in response to more demand for shorter more text based surveys. This approach has been successfully rolled out to multiple clients for different use cases.
</p>

<p>
Additionally, we deployed a python API to serve the chatbot to our in-house survey software. This effort required a combination of data science skills, software engineering, cloud hosting, and web technologies to serve the analytical solutions. We extended this into another proof of concept to serve consultant analysis requests through a self-service web interface.
</p>

<p>
We created tools for a major retailer to identify when respondents had feedback on particular items as it related to stock issues, quality, price, and other ‘hot topics’. Here, the hot topics were always respondent generated such as capturing additional chatter about holiday seasons or extreme weather. This information helped our client identify stores with poor quality products or those which were providing exceptional service.
</p>

<p>
On the technical side, these projects required a range of skills such as secure website and API development, dashboard and docker solutions on Azure. Our NLP approach utilized LSTM neural networks for sentiment scoring and entity detection, and enhanced dictionary approaches for chatbot and AI routines.
</p>

<p>
Before Evolve I worked at <b>The Klein Partnership (TKP)</b>, a market research agency in Melbourne. At TKP and Evolve I worked across multiple industries in a quantitative and qualitative research capacity.
</p>

<p>
I joined TKP after graduating from <b>The University of Melbourne</b> with a Bachelor of Arts, having studied a double major in Psychology and Political Science. These studies greatly expanded my world view, my ability to communicate complex ideas, and contributed to my interest in travel. In recent years my partner and I have lived and worked remotely, which has developed my capabilities to work and lead asynchronously with a mix of teams.
</p>
      </div>
    </div>
  </div>

</div>

{% endblock %}
